<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipboardTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClipboardTool.Properties.Settings>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegisterHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkUpperCaseKey" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="hkLowerCaseKey" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="hkPlainTextKey" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="hkCapsLockKey" serializeAs="String">
                <value>Back</value>
            </setting>
            <setting name="hkProcessTextKey" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="SaveMemorySlots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemorySlotFolder" serializeAs="String">
                <value>%userprofile%</value>
            </setting>
            <setting name="ResetCounterWhenSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendCut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkUpperCaseCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkUpperCaseAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkUpperCaseShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkUpperCaseWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkLowerCaseCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkLowerCaseAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkLowerCaseShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkLowerCaseWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkPlainTextCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkPlainTextAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkPlainTextShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkPlainTextWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkProcessTextCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkProcessTextAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkProcessTextShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkProcessTextWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCapsLockCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkCapsLockAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCapsLockShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkCapsLockWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkDateKey" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="hkDateCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkDateAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkDateShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkDateWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkMemSlot1Key" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hkMemSlot1Ctrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkMemSlot1Alt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkMemSlot1Shift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkMemSlot1Win" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkMemSlot2Key" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="hkMemSlot2Ctrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkMemSlot2Alt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkMemSlot2Shift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkMemSlot2Win" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkMemSlot3Key" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="hkMemSlot3Ctrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkMemSlot3Alt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkMemSlot3Shift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkMemSlot3Win" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkResetNumberKey" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="hkResetNumberCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkResetNumberAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkResetNumberShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkResetNumberWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkHistoryKey" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="hkHistoryCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkHistoryAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkHistoryShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkHistoryWin" serializeAs="String">
                <value>False</value>
            </setting>
        </ClipboardTool.Properties.Settings>
    </userSettings>
</configuration>