<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipboardTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClipboardTool.Properties.Settings>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegisterHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkUpperKey" serializeAs="String">
                <value />
            </setting>
            <setting name="hkLowerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="hkPlainKey" serializeAs="String">
                <value />
            </setting>
            <setting name="hkCapsLockKey" serializeAs="String">
                <value />
            </setting>
            <setting name="hkProcessTextKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveMemorySlots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemorySlotFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ResetCounterWhenSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendCut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendPaste" serializeAs="String">
                <value>True</value>
            </setting>
        </ClipboardTool.Properties.Settings>
    </userSettings>
</configuration>